<div class= "sign-in container">
	<div class="row">
		<div class="col-sm-6">
			<div id="clearance" class="sign-in">
			  <h2><%= t(".title") %></h2>

			  <%= render partial: '/sessions/form' %>

			</div>
		</div>
		<div class="col-sm-6"></div>
	</div>
</div>
