<div class="welcome-container">
<!-- 	<img src="https://static.pexels.com/photos/91985/pexels-photo-91985.jpeg" style="width:100%; height:100%; max-height:0px;"> -->
	<h1 style="padding-top:250px;">Join the escape today, adventure awaits for you</h1>
	<h1 style="padding-bottom:230px;"><span id="btn-discover"><%= button_to "Discover Now", listings_path, method: "get"%></span></h1>
</div>



<!-- <div class="container-fluid">

	<h1>LIVE THERE</h1>
	<p>Book homes from local hosts in 191+ countries and experience a place like you live there.</p>

	<div id="myCarousel" class="carousel carousel-fade" data-ride="carousel" data-pause="" data-interval="5000">
	  <!- - Indicators -->
	  <!-- <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	  </ol> -->

	  <!-- Wrapper for slides -->
	  <!-- <div class="carousel-inner" role="listbox">
	    <div class="item">

	      <img src="https://tctechcrunch2011.files.wordpress.com/2014/09/airbnb-a8707ed9_original.jpg?w=738" alt="Chania" class="img-responsive">

	    	<div class="carousel-caption">
	    		Get Started
	    	</div>
	    	<a href="#" class="menu-button" role="button">Get started</a>
	    </div>

	    <div class="item active">
	      <img src="http://www.travelandleisure.com/sites/default/files/styles/1600x1000/public/1458067297/airbnb-introvert-GUIDE0316.jpg?itok=YM2fmQI8" class="img-responsive" alt="Chania" style="width:100% !important; max-height:500px !important;">
	    </div>

	    <div class="item">
	      <img src="https://static.dezeen.com/uploads/2016/08/samara-airbnb-dezeen-facebook.jpg" class="img-responsive" alt="Flower" style="width:100% !important; max-height:500px !important;">
	    </div>

	    <div class="item">
	      <img src="http://67.media.tumblr.com/b154bb8fac058053cb73d930c5faf8e5/tumblr_inline_n92g18pyzD1r07720.jpg" class="img-responsive" alt="Flower" style="width:100% !important; max-height:500px !important;">
	    </div>
	  </div> -->

	  <!-- Left and right controls -->
	  <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div> -->
<!-- </div> -->
 
