// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_listing{
  margin: 50px;
}

.submit-field-welcome input{

  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  width: 100%;
  font-size: 16px;

  input:hover{
  background-color: #ff7e82;
  }
}

.glyphicon.glyphicon-log-in{
    position: relative;
    top: 0px;
    left: -5px;
}



.profile-thumbnail{

	height: 25px;
	width:25px;
	border: 2px solid lightgrey;
    border-radius: 25px;
    
}


.dropdown:hover .dropdown-menu {
    display: block;
}


.nav .navbar-right a{

	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}



.nav li a {
    padding-top: 6px;
}

.navbar-default {
    background-color: #fff;
    border-color: transparent;
    background-color: black;
    margin-bottom: 0px;
}

.glyphicon {
    position: absolute;
    top: 15px;
}

.form-control {
	border: 0px;
	border-color: transparent;
	margin-left: 5px;
	outline: 0;

}

.submit-field {
display: inline-block;
box-sizing: border-box;
min-width: 50%;
width: 400px;
height: 30px;
position: relative;
cursor: pointer;
font-size: 14px;
font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-overflow: ellipsis;
}

#user-show-subheader{
    letter-spacing: 2px;
}

.user-show.container-fluid{
  margin: 50px;
}

/////////////codepen copy searchbar //////////////////////////////////////////////////////////
$grey-1: #333;
$blue-1: #00D7D8;
$purple-1: #9261DF;
$purple-2: #6434A2;
.stage {
  // @include full-header-color($purple-1);
  transition: all 0.3s linear;
  &.faded {
    // @include full-header-color($purple-2);
  }
}

// @include firefox-vh(".stage");
.searchbar {
  position: relative;
  &.clicked {
    .btn-search {
      border-radius: 0 40px 40px 0;
      margin-left: 500px;
    }
    .btn-extended {
      margin-left: -50px;
      margin-top: -46px;
      width: 500px;
      height: 38px;
      background-color:white;
      color: grey;
      letter-spacing: 2px;
      padding: 20px 30px;
      opacity: 1;
      border-radius: 40px 0 0 40px;
      z-index: 9999;

    }
  }
  .btn-search {
    position: absolute;
    background-color: $blue-1;
    color: white;
    width: 40px;ƒ
    height: 40px;
    left: 0;
    margin-left: 0px;
    top: -49px;
    margin-top: 1px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 10px;
      left: 11px;
      width: 10px;
      height: 10px;
      border-radius: 20px;
      box-shadow: 0px 0px 0px 3px #fff;
    }
    &:after {
      content: "";
      position: absolute;
      width: 15px;
      height: 4px;
      top: 22px;
      left: 19px;
      background-color: #fff;
      transform: rotateZ(45deg);
      border-radius: 3px;
    }
  }
  .btn-extended {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    margin-left: 5px;
    top: 50%;
    margin-top: -35px;
    border-radius: 40px;
    padding: 0;
    font-size: 16px;
    border: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    &:focus {
      outline-width: 0px;
    }
  }
}

.credit {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  padding: 5px 20px;
}
//////////////


//navbar pure css////////////////////////////////////////////////////////////////
/*
  Simple CSS navigation bar with fading inactive links
*/

@import url(https://fonts.googleapis.com/css?family=Lato:300,500);

/*
  pad the body and set default font styles
*/
body {
 padding: 0px; 
 font: 300 16px/1.2 Lato;
}

/*
  navigation
*/
.nav-rightbar {
  list-style: none;
}

/*
  nav list items
  1. side by side
  2. needed for circle positioning
*/
.nav-rightbar  li {
  float: right; /*1*/
    margin-right: 30px;
}

/*
  nav link items
*/
.nav-rightbar  > li a {
  display: block; /*1*/
  padding: 10px 20px; /*2*/
  text-decoration: none; /*3*/
  color: #b3b2b2; /*4*/
  border-bottom: 1px solid #eee;
  transition: all ease .5s;
  height: 40px;
}

/*
  fade out all links on ul hover
*/
.nav-rightbar:hover > li a {
  opacity: .5;
  transition: all ease .5s;
}

/*
  override previous rule to highlight current link
*/
.nav-rightbar > li:hover a {
  opacity: 1;
  color: #E74C3C;
  border-color: #E74C3C;
}///

////welcome page///////////////////////////////////////////////////////
.welcome-container{
    background-image: url(https://static.pexels.com/photos/91985/pexels-photo-91985.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    
    width:100%;
    position: absolute;
    top:0;
    z-index: -999;

    h1 {
    text-align: center;
    text-shadow: 2px 1px black;
    letter-spacing: 2px;
    color:yellow;
    padding-top: 50px;


        #btn-discover input{
              display: inline-block;
              margin-left: 0%;
              padding: 15px 50px;
              border: 2px solid #c9c9c9;
              border-radius: 5px;
              background-color: transparent;
              -webkit-transition: all 500ms ease-in, all 450ms ease-in;
              -o-transition: all 500ms ease-in, all 450ms ease-in;
              transition: all 500ms ease-in, all 450ms ease-in;
              color: #c2c2c2;
              font-size: 12px;
              font-weight: 600;
              text-align: center;
              letter-spacing: 1px;
              text-decoration: none;
              text-transform: uppercase;
        }
        #btn-discover input:hover {
          border-color: #0cafeb;
          background-color: #0cafeb;
          -webkit-transition: all 250ms ease-in;
          -o-transition: all 250ms ease-in;
          transition: all 250ms ease-in;
          color: white;
          font-weight: 700;
        }

    }

}

.navbar-fixed-bottom, .navbar-fixed-top {
    height: 55px;
  }

